/*
.color1 {color: #1b2908;}
.color2 {color: #085d38;}
.color3 {color: #ff9d00;}
.color4 {color: #ffd455;}
.color5 {color: #ffffaa;}

.color1 {color: #653540;}
.color2 {color: #86484b;}
.color3 {color: #b86765;}
.color4 {color: #fb9a89;}
.color5 {color: #ffe1bd;}
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Rancho&display=swap');

:root{
    --color1: #653540;
    --color2: #86484b;
    --color3: #b86765;
    --color4: #fb9a89;
    --color5: #ffe1bd;
    --color6: #ffffaa;
    --color7: #ffd455;
    --orange: #ff9d00;
    --green: #085d38;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora';
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;         /* tamaño de fuente */
    scroll-behavior: smooth;  /* desplazamiento suave (animado) en lugar de saltos bruscos dentro de la misma página */
    scroll-padding-top: 6rem; /* establece padding en la parte superior cuando se hace scroll hacia un elemento */
    overflow-x: hidden;       /* oculta el contenido que sobresale horizontalmente de un contenedor, evita las barras de desplazamiento laterales */
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #86484b;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--color1);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #653540;
}

header .navbar a:hover{
    color: var(--color3);
}

header .icons a{
    font-size: 2.5rem;
    color: #653540;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--color3);
}

header #toggler{
    display: none;
}

header .bx-menu{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .2rem solid rgba(0, 0, 0, .3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/client/assest/images/fondo\ 1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color: var(--color1);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #b86765;
    padding: 1rem 0;
    line-height: 1.5;
}































@media (max-width:991px) {
    html{
        font-size: 55%;   
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

@media (max-width:768px) {
    header .bx-menu{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;   
    }

    header{
        padding: 2rem;
    }
}